@font-face {
  font-family: 'Norse Bold';
  src: url(./Norse-Bold.otf);
}

aside {
  /* background-color: aquamarine; */
  width: 35vw;
}

.logo {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 25vh;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  font-family: 'Norse Bold', sans-serif;
}

figure {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

img {
  height: 100%;
  object-fit: cover;
}

figcaption {
  margin-top: -40px;
  max-width: 100%;
  color: white;
  text-align: center;
}

a {
  color: white;
}